*{
  font-family: 'Lato', sans-serif;
}
body{
    background: url(./img/fondo.jpg);
    background-repeat : repeat;
    background-position : center;
    background-attachment : fixed;
    overflow-x: hidden;
    overflow-y: auto;
}
.header {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 380px;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 80px 300px;
        grid-template-rows: 80px 300px;
    -webkit-box-shadow: 0px 0px 10px #333;
            box-shadow: 0px 0px 10px #333;
            margin-top: -8%;
  }
  .header .header__menu {
    width: 100%;
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 80px;
    -webkit-box-shadow: 0px 0px 10px #333;
            box-shadow: 0px 0px 10px #333;
    z-index: 50%;
  }
  
  .header .header__menu .header__menu-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 20px;
  }
  
  .header .header__menu .header__menu-header .header__menu-logo {
    width: 3.5vw;
    height: 3.5vw;
    background-image: url("../img/logo.png");
    background-size: cover;
    border-radius: 99px;
    margin-right: 10px;
  }
  
  .header .header__menu .header__menu-header .header__menu-name {
    color: #555;
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 2.3vw;
  }
  
  .header .header__menu .header__list {
    width: 35%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .header .header__menu .header__list .header__item {
    list-style: none;
    height: 80px;
    line-height: 80px;
    padding: 0px 20px;
    -webkit-transition: all 300ms;
    transition: all 300ms;
  }
  
  .header .header__menu .header__list .header__item .header__link {
    color: #555;
    font-family: 'Open Sans';
    text-decoration: none;
    font-size: 1.2vw;
    -webkit-transition: all 300ms;
    transition: all 300ms;
  }
  
  .header .header__menu .header__list .header__item:hover {
    -webkit-transform: scale(1.15, 1.15);
            transform: scale(1.15, 1.15);
  }
  
  .header .header__menu .header__list .header__item:hover .header__link {
    color: #444;
  }
  
  .header .header__container {
    background-color: rgba(85, 85, 85, 0.6);
    height: 300px;
    display: -ms-grid;
    margin-top: 3.8%;
    background-image: url("../img/taza-cafe-escritorio-oficina-ordenador-portatil-computadora-mesa-madera-cerca_150455-666.jpg");
    background-size: cover;
    background-position: 0px;
    background-attachment: fixed;
    -webkit-box-shadow: 0px 0px 10px #333;
    box-shadow: 0px 0px 10px #333;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
        justify-content: space-between;
    display: grid;
    -ms-grid-columns: (33%)[3];
        grid-template-columns: repeat(3, 33%);
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  
  .header .header__container .header__center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .header .header__container .header__center .header__center-icon {
    background-image: url("./img/logo.png");
    background-size: cover;
    margin-top: -10%;
    width: 7.5vw;
    height: 7.5vw;
    border-radius: 999px;
  }
  
  .header .header__container .header__center .header__title {
    width: 100%;
    text-align: center;
    font-size: 2vw;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    border-bottom: 1px solid aliceblue;
    padding-bottom: 10px;
  }
  
  .header .header__container .header__center .header__subtitle {
    display: block;
    font-family: 'Lato', sans-serif;
    font-size: 1.5vw;
    font-weight: 300;
    margin-top: 0px;
    margin-bottom: 50px;
  }
  
  .header .header__container .header__icon {
    width: 3vw;
    height: 3vw;
    background-size: cover;
    opacity: 0.0;
  }
  
  .header .header__container .header__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .header .header__container .header__left #js {
    background-image: url("../img/Css\ logo.png");
    width: 3.2vw;
    height: 3.2vw;
    margin-top: 300px;
  }
  
  .header .header__container .header__left #html {
    background-image: url("../img/Java-icon.png");
    margin-bottom: 300px;
  }
  
  .header .header__container .header__left #css {
    background-image: url("../img/C-icon.png");
    margin-top: 300px;
  }
  
  .header .header__container .header__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .header .header__container .header__right #php {
    background-image: url("../img/HTML-logo.png");
    margin-top: 300px;
  }
  
  .header .header__container .header__right #node {
    background-image: url("../img/Nodejs-logo.webp");
    border-radius: 999px;
    margin-bottom: 300px;
  }
  
  .header .header__container .header__right #py {
    background-image: url("../img/Js-logo.png");
    margin-top: 300px;
  }
  .projects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: antiquewhite;
    margin: 0%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px;
  }
  
  .projects .projects__title {
    font-weight: 400;
    font-size: 2vw;
    margin-bottom: 20px;
  }
  
  .projects .projects__table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .projects .projects__table th {
    padding: 20px;
    font-size: 1.5vw;
    font-weight: 400;
    background-color: #dcdcdc;
  }
  
  .projects .projects__table td {
    padding: 20px;
    font-size: 1vw;
  }
  
  .projects .projects__table td a {
    color: black;
    text-decoration: none;
    font-size: 1.3vw;
  }
  
  .projects .projects__description {
    font-size: 1.1vw;
  }
  
